.file-upload{
  width:100%;
  background-color: $gray-light;
  border: 1px dashed #fff;
  min-height: 50px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  .text{
    margin-top: 10px;
  }
  &.nv-file-over{
    background-color: $gray;
  }

}
