<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-4" ng-hide="file">
      <h3>Upload file</h3>
        <div file-input="file" on-change="readFile()" force-reload></div>
        <img ng-src="{{imageSrc}}"/>
    </div>
    <div class="col-xs-4 margin-vertical" ng-show="file">
      <h3>Your file</h3>
      {{file.name}} <span class="label label-primary">{{ file.size|bytes:2 }}</span>

      <span class="label" ng-class="file.type == 'text/csv' ? 'label-primary':'label-danger'">{{file.type}}</span>
      <span class="btn btn-link btn-sm" ng-click="clearFile()"><i class="fa fa-times"></i></span>
    </div>
    <div class="col-xs-4">
      <ul class="list-unstyled">
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div>
        <select class="form-control" ng-options="relation.name for relation in relationTypes" ng-model="selectedType">
          <option value=""> -- Select Type -- </option>
        </select>
      </div>
      <ul class="list-unstyled">
        <li>
          <h2>Products <span class="label label-info">{{products.length}}</span> :</h2>
        </li>
        <li ng-repeat="product in products">
          {{product}}
        </li>
      </ul>

      <button class="btn btn-info" ng-click="generate()">Generate</button>
    </div>
    <div class="col-xs-8">
      <pre nag-prism source="{{code}}" class="language-impex copy-code line-numbers"></pre>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

<script type="text/ng-template" id="selectBox">

</script>
