/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash&plugins=line-numbers+show-language */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
  word-wrap: normal;
}

/* Code blocks */

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #272822;
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token {
&.comment, &.prolog, &.doctype, &.cdata {
                                   color: slategray;
                                 }
&.punctuation {
   color: #f8f8f2;
 }
}


.namespace {
  opacity: .7;
}

.token {
&.property, &.tag, &.constant, &.symbol, &.deleted {
                                            color: #f92672;
                                          }
&.boolean, &.number {
              color: #ae81ff;
            }
&.selector, &.attr-name, &.string, &.char, &.builtin, &.inserted {
                                                         color: #a6e22e;
                                                       }
&.operator, &.entity, &.url {
                         color: #f8f8f2;
                       }
}

.language-css .token.string, .style .token.string {
  color: #f8f8f2;
}

.language-impex{
  .token{
    &.punctuation,&.boolean{
      color: #c8512f;
    }
    &.variable{
      color: #ae81ff;
    }
  }
}

.token {
&.variable {
   color: #f8f8f2;
 }
&.atrule, &.attr-value, &.function {
                           color: #e6db74;
                         }
&.keyword {
   color: #66d9ef;
 }
&.regex {
   color: #fd971f;
 }
&.important {
   color: #fd971f;
   font-weight: bold;
 }
&.bold {
   font-weight: bold;
 }
&.italic {
   font-style: italic;
 }
&.entity {
   cursor: help;
 }
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
> code {
    position: relative;
  }
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
&:before {
   content: counter(linenumber);
   color: #999;
   display: block;
   padding-right: 0.8em;
   text-align: right;
 }
}

pre[class*='language-'] {
  position: relative;
&::before {
  display: none;
   content: attr(data-language);
   color: black;
   background-color: #CFCFCF;
   display: inline-block;
   position: absolute;
   top: 0;
   right: 0;
   font-size: 0.9em;
   border-radius: 0 0 0 5px;
   padding: 0 0.5em;
   text-shadow: none;
 }
}

pre[class*='copy-code'] {
  .copy-btn, {
    color: black;
    background-color: #CFCFCF;
    display: inline-block!important;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9em;
    border-radius: 5px 0 5px 0;
    padding: 0 0.5em;
    text-shadow: none;
    &:hover,&:focus,&.zeroclipboard-is-hover{
      text-decoration: none;
      background-color: #DF691A;
      color: #fff;
      outline: none;
    }
  }
}
