<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <p>IMPEXATOR <span class="label label-info">v {{version}}</span> | by <a
      href="https://wiki.hybris.com/display/~dariusz.malachowski@hybris.com/Unicorn+Team" target="_blank">Unicorns</a>
  </div>
</footer>
