<ul class="list-unstyled list-inline" ng-if="tags">
  <li ng-repeat="tag in tags | limitTo: limit">
    <span class="label label-info">{{tag.text}}</span>
  </li>
</ul>

<ul class="list-unstyled list-inline" ng-if="impex.tags">
  <li ng-repeat="tag in impex.tags | limitTo: limit">
    <span class="label label-info">{{tag.text}}</span>
  </li>
</ul>
