$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import "bootswatch-scss/superhero/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootswatch-scss/superhero/bootswatch";
@import "font-awesome/scss/font-awesome";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.margin-vertical{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn{
  color: #fff;
  &.btn-edit:hover{
    @extend .text-success;
  }
  &.btn-remove:hover{
    @extend .text-danger;
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'crosssell/crosssell.scss';
@import 'generator/generator.scss';
@import 'impex/impex.scss';
@import 'main/main.scss';
@import 'navigation/navigation.scss';
@import 'prices/prices.scss';
@import 'tags/tags.scss';
@import 'variable/variable.scss';
@import 'ionSlider/ionSlider.scss';
@import 'modal/modal.scss';
@import 'nestable/nestable.scss';
@import 'prism/prism.scss';
@import 'search/search.scss';
@import 'tag/tag.scss';
// endinjector
