<ul class="nav navbar-nav">
  <li ng-repeat="item in menu" uib-dropdown ng-class="{active: isActive(item.link)}">
    <a ng-hide="item.children.length>0" ng-href="{{item.link}}">{{item.title}}</a>

    <a href="#" ng-show="item.children.length>0" uib-dropdown-toggle>{{item.title}} <span class="caret"></span></a>
    <ul class="uib-dropdown-menu" role="menu">
      <li role="menuitem" ng-class="{active: isActive(subitem.link)}" ng-repeat="subitem in item.children">
        <a ng-href="{{subitem.link}}">{{subitem.title}}</a>
      </li>
    </ul>
  </li>
  <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
</ul>
