<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="alert alert-{{alert.class}}" ng-if="alert">
    <span ng-bind-html="alert.body"></span>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Tag</h1>
    </div>
    <div class="col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="text" class="form-control" type="text" ng-model="model.text"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-right">
      <button class="btn btn-success" ng-click="saveTag()" >Save</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
