tags-input {
  box-shadow: none;
  border: none;
  padding: 0;
  min-height: 34px;
  .host {
    margin: 0;
  }
  .tags {
    @extend .form-control;
    padding: 4px 16px;
    .tag-item {
      color: white;
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 4px;
      &.selected {
        color: white;
        background: #d9534f;
        border: 1px solid #d43f3a;
      }
      .remove-button{
        color: #fff;
        &:hover {
          text-decoration: none;
          color: $brand-primary;
        }
      }
    }
    &.focused {
      border: 1px solid #66afe9;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
  .autocomplete {
    border-radius: 4px;
    .suggestion-item {
      &.selected {
        color: #262626;
        background-color: whitesmoke;
        em {
          color: #262626;
          background-color: whitesmoke;
        }
      }
      em {
        color: black;
        background-color: white;
      }
    }
  }
  &.ng-invalid .tags {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }
  &[disabled] .tags {
    background-color: #eeeeee;
    .tag-item {
      background: #337ab7;
      opacity: 0.65;
    }
    .input {
      background-color: #eeeeee;
    }
  }
}

.input-group tags-input {
  padding: 0;
  display: table-cell;
  &:not(:first-child) .tags {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child) .tags {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input-group-lg tags-input {
  &:first-child .tags {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &:last-child .tags {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.input-group-sm tags-input {
  &:first-child .tags {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child .tags {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

tags-input.ti-input-lg, .input-group-lg tags-input {
  min-height: 46px;
}

tags-input.ti-input-lg .tags, .input-group-lg tags-input .tags {
  border-radius: 6px;
}

tags-input.ti-input-lg .tags .tag-item, .input-group-lg tags-input .tags .tag-item {
  height: 38px;
  line-height: 37px;
  font-size: 18px;
  border-radius: 6px;
}

tags-input.ti-input-lg .tags .tag-item .remove-button, .input-group-lg tags-input .tags .tag-item .remove-button {
  font-size: 20px;
}

tags-input.ti-input-lg .tags .input, .input-group-lg tags-input .tags .input {
  height: 38px;
  font-size: 18px;
}

tags-input.ti-input-sm, .input-group-sm tags-input {
  min-height: 30px;
}

tags-input.ti-input-sm .tags, .input-group-sm tags-input .tags {
  border-radius: 3px;
}

tags-input.ti-input-sm .tags .tag-item, .input-group-sm tags-input .tags .tag-item {
  height: 22px;
  line-height: 21px;
  font-size: 12px;
  border-radius: 3px;
}

tags-input.ti-input-sm .tags .tag-item .remove-button, .input-group-sm tags-input .tags .tag-item .remove-button {
  font-size: 16px;
}

tags-input.ti-input-sm .tags .input, .input-group-sm tags-input .tags .input {
  height: 22px;
  font-size: 12px;
}

.has-feedback tags-input .tags {
  padding-right: 30px;
}

.has-success tags-input .tags {
  border-color: #3c763d;
  &.focused {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  }
}

.has-error tags-input .tags {
  border-color: #a94442;
  &.focused {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }
}

.has-warning tags-input .tags {
  border-color: #8a6d3b;
  &.focused {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  }
}
