<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="alert alert-{{alert.class}}" ng-show="alert">
    <span ng-bind-html="alert.body"></span>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">List of available tags: <a class="btn btn-success pull-right" ui-sref="tags.new"><i class="fa fa-plus"></i> Add Tag</a></h1>
      <tag-list limit="9999"></tag-list>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
