<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1><i class="fa fa-empire"></i></h1>
    <p class="lead">Kick-start your next Demo with IMPEXATOR</p>
    <img src="assets/images/impexator.png" alt="I'm Impexator">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><i class="fa fa-star"></i> Favourites:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="impex in favImpexes">
        <li><a ui-sref="impexes.detail({impexId: impex._id})" uib-tooltip="{{impex.info}}">{{impex.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="example-chat l-demo-container">
    <h1 class="page-header">Firebase Chat Demo</h1>

    <div class="example-chat-toolbar">
      <label for="nameInput">Username:</label>
      <input ng-model="name" type="text" id="nameInput" placeholder="enter a username...">
    </div>

    <ul id="example-messages" class="example-chat-messages">
      <li ng-repeat="msg in messages">
        <strong class="example-chat-username">{{ msg.from }}</strong>
        {{ msg.body }}
      </li>
    </ul>

    <footer>
      <input ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message...">
    </footer>
  </div>
</div>



<div ng-include="'components/footer/footer.html'"></div>
