<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-3" ng-hide="pricesFile">
      <h3>1. Upload file</h3>
      <div file-input="pricesFile" on-change="readFile()" force-reload></div>
    </div>
    <div class="col-xs-3" ng-show="pricesFile">
      <h3>1. Your file</h3>
      {{pricesFile.name}} <span class="label label-primary">{{ pricesFile.size|bytes:2 }}</span>
      <span class="label" ng-class="pricesFile.type == 'text/csv' ? 'label-primary':'label-danger'">{{pricesFile.type}}</span>
      <span class="btn btn-link btn-sm" ng-click="clearFile()"><i class="fa fa-times"></i></span>
    </div>
    <div class="col-xs-3">
      <h3>2. Select Currency</h3>
      <select class="form-control" ng-options="currency.name for currency in currencyTypes" ng-model="selectedCurrency">
        <option value=""> -- Select Currency -- </option>
      </select>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-12">
          <h3>3. Change Range</h3>
        </div>
        <div class="col-xs-2">
          <input type="text" ng-model="currencyOptions.min" class="form-control input-sm"/>
        </div>
        <div class="col-xs-2 col-xs-push-8">
          <input type="text" ng-model="currencyOptions.max" class="form-control input-sm"/>
        </div>
      </div>
      <form class="margin-vertical">
        <div class="form-group" >
          <ionslider ng-model="currencyModel" options="currencyOptions"></ionslider>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ul class="list-unstyled">
        <li>
          <h2>Products <span class="label label-info">{{products.length}}</span> :</h2>
        </li>
        <li ng-repeat="product in products">
          {{product}}
        </li>
      </ul>
      <button class="btn btn-info" ng-click="generate()">Generate</button>
    </div>
    <div class="col-xs-8">
      <pre nag-prism source="{{code}}" class="language-impex copy-code line-numbers"></pre>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
