<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-right">
      <a class="btn btn-success " ui-sref=".edit"><i class="fa fa-pencil"></i> Edit impex</a>
      <hr/>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <form class="row">
          <div class="form-group col-xs-12 col-sm-6">
            <label for="demoName">Demo Name</label>
            <input type="text" class="form-control" id="demoName" placeholder="Demo Name" ng-model="model.demoName" ng-change="updateCode()">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="siteName">Site Name</label>
            <input type="text" class="form-control" id="siteName" placeholder="Site Name" ng-model="model.siteName" ng-change="">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="prodcat">Product Catalog</label>
            <input type="text" class="form-control" id="prodcat" placeholder="Product Catalog" ng-model="model.productCatalog" ng-change="updateCode()">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="contentCatalog">Content Catalog</label>
            <input type="text" class="form-control" id="contentCatalog" placeholder="Content Catalog" ng-model="model.contentCatalog" ng-change="updateCode()">
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="contentCatalog">Tags</label>
            <tag-list limit="9999"></tag-list>
          </div>
          <div class="form-group col-xs-12 col-sm-6">
            <label for="contentCatalog">Variables</label>
            <ul class="list-inline list-unstyled">
              <li ng-repeat="var in impex.vars">
                <span class="label label-info">
                  {{var.variable}}
                </span>
              </li>
            </ul>
          </div>
        </form>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{impex.name}}</h1>
      <p>{{impex.info}}</p>
    </div>
    <div class="col-lg-12">
      <pre nag-prism source="{{code}}" class="language-impex copy-code line-numbers"></pre>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
