<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <div class="pull-left">Edit: <span class="text-info">{{impex.name}}</span></div>
        <button class="btn btn-success pull-right" ng-click="saveImpex()" ><i class="fa fa-save"></i> Save</button>
        <div class="clearfix">
        </div>
      </h1>
    </div>
    <div class="col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="name" class="form-control" type="text" ng-model="model.name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="info" class="col-sm-2 control-label">Info</label>
          <div class="col-sm-10">
            <input id="info" class="form-control" type="text" ng-model="model.info"/>
          </div>
        </div>
        <!--TODO: Move it to directive and change the autocomplete response-->
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <tags-input ng-model="currentTags" on-tag-added="tagAdded($tag)">
              <auto-complete source="getTags($query)" select-first-match="false"></auto-complete>
            </tags-input>
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Used Variables:</label>
          <div class="col-sm-10">
            <ul class="list-inline list-unstyled">
              <li ng-repeat="var in model.vars">
                <span class="label label-info">
                  {{var.variable}}
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button class="btn btn-primary" ng-click="open()"><i class="fa fa-plus "></i> Attach Variable</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="model.data">Data</label>
      <!--<textarea caret id="model.data" cols="30" rows="10" class="form-control" ng-model="model.data" ng-change="updateCode()"></textarea>-->
      <div ui-ace="{onChange: updateCode}" ng-model="model.data"></div>
      <pre nag-prism source="{{code}}" class="language-impex line-numbers copy-code"></pre>
    </div>
    <div class="col-lg-12 text-right">
      <a class="btn btn-danger" ui-sref="^"><i class="fa fa-times"></i> Cancel</a>
      <button class="btn btn-success" ng-click="saveImpex()" ><i class="fa fa-save"></i> Save</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>


<script type="text/ng-template" id="VariableContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Add Variable</h3>
  </div>
  <div class="modal-body">
    <form >
    	<legend>Choose Variable</legend>
      <div class="radio" ng-repeat="var in variables">
        <label tooltip="{{var.info}}">
          <input type="radio" ng-model="model.radioVar" id="{{var._id}}" value="{{var.variable}}">
          {{var.variable}}
        </label>
      </div>
    </form>
    <span>Chosen value {{model.radioVar}}</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
