<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <a ui-sref="impexes.new" class="pull-right btn btn-success">
        <i class="fa fa-plus"></i>
        <span class="visible-lg-inline-block visible-md-inline-block">Add new</span>
      </a>
      <form class="form-inline pull-right">
        <input ng-model="search.tags" type="text" placeholder="Filter by tags" autofocus class="form-control">
      </form>
      <h1 class="page-header">
        Impexes list:
      </h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="impex in impexes | filter:byTags:query">
        <li>
          <div class="panel panel-default impex-box">
            <div class="panel-heading">
              <h3 class="panel-title">{{impex.name}}</h3>
              <span class="pull-right" ng-if="impex.tags.length == 0" uib-tooltip="No Tags">
                <span class="fa-stack">
                  <i class="fa fa-tags fa-stack-1x"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
              </span>
              <tag-list limit="5"></tag-list>
            </div>
            <div class="panel-body">
              {{impex.info}}
              <ul class="list-inline list-unstyled">
                <li ng-repeat="var in impex.vars">
                  <span class="label label-info">{{var.variable}}</span>
                </li>
              </ul>
            </div>
            <div class="panel-footer text-right">
              <div class="btn-group" uib-dropdown>
                <button ui-sref="impexes.detail({impexId: impex._id})" type="button" class="btn btn-primary btn-sm">View</button>
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="uib-dropdown-menu" role="menu">
                  <li><a ui-sref="impexes.detail.edit({impexId: impex._id})">Edit</a></li>
                  <li><a href="#">Add to package</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Action</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
