.impex-box{
  .panel-heading{
    overflow: hidden;
    .panel-title{
      display: block;
      float: left;
      padding-top: 3px;
    }
    &>tag-list{
      display: block;
      float: right;
    }
  }
}


.ace_editor  {
  height : 200px;
}
