<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Impex</h1>
    </div>
    <div class="col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="name" class="form-control" type="text" ng-model="model.name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="info" class="col-sm-2 control-label">Info</label>
          <div class="col-sm-10">
            <input id="info" class="form-control" type="text" ng-model="model.info"/>
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <tags-input ng-model="currentTags" on-tag-added="tagAdded($tag)">
              <auto-complete source="tags" selectFirstMatch="false"></auto-complete>
            </tags-input>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="model.data">Data</label>
      <textarea id="model.data" cols="30" rows="10" class="form-control" ng-model="model.data" ng-change="updateCode()"></textarea>
    </div>
    <div class="col-lg-12 text-right">
      <a class="btn btn-danger" ui-sref="^"><i class="fa fa-times"></i> Cancel</a>
      <button class="btn btn-success" ng-click="saveImpex()" ><i class="fa fa-save"></i> Save</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
