<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <span class="pull-left">
          Variable: <span class="text-info">{{variable.name}}</span>
        </span>
        <a class="btn btn-success pull-right" ui-sref=".edit"><i class="fa fa-pencil"></i> Edit variable</a>
        <div class="clearfix"></div>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <span class="">{{variable.info}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 margin-vertical">
        <code> <span tooltip="Variable">{{variable.variable}}</span> = <span tooltip="Default Value">{{variable.defaultValue}}</span></code>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <hr/>
      <a class="btn btn-info" ui-sref="^"><i class="fa fa-arrow-left"></i> Back to list</a>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
