<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">New Impex</h1>
    </div>
    <div class="col-lg-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="name" class="form-control" type="text" ng-model="model.name"/>
          </div>
        </div>
        <div class="form-group">
          <label for="info" class="col-sm-2 control-label">Info</label>
          <div class="col-sm-10">
            <input id="info" class="form-control" type="text" ng-model="model.info"/>
          </div>
        </div>
        <div class="form-group">
          <label for="variable" class="col-sm-2 control-label">Variable</label>
          <div class="col-sm-10">
            <input id="variable" class="form-control" type="text" ng-model="model.variable"/>
          </div>
        </div>
        <div class="form-group">
          <label for="defaultValue" class="col-sm-2 control-label">Default value</label>
          <div class="col-sm-10">
            <input id="defaultValue" class="form-control" type="text" ng-model="model.defaultValue"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-right">
      <a class="btn btn-danger" ui-sref="^"><i class="fa fa-times"></i> Cancel</a>
      <button class="btn btn-success" ng-click="saveVariable()" ><i class="fa fa-save"></i> Save</button>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
