<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Variables list:
        <a ui-sref=".new" class="pull-right btn btn-success">
          <i class="fa fa-plus"></i>
          <span class="visible-lg-inline-block visible-md-inline-block">Add new</span>
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="var in variables">
          <li>
            <div class="panel panel-default impex-box">
              <div class="panel-heading">
                <h3 class="panel-title">{{var.name}}</h3>
              </div>
              <div class="panel-body">
                {{var.info}}
              </div>
              <div class="panel-footer text-right">
                <div class="btn-group" dropdown>
                  <button ui-sref="variable.detail({variableId: var._id})" type="button" class="btn btn-primary btn-sm">View</button>
                  <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a ui-sref="variable.detail.edit({variableId: var._id})">Edit</a></li>
                    <li><a href="#">View Usage</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
