<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="row">
          <div class="col-xs-8">
            <div class="form-group">
              <label for="contentCatalog">Content catalog</label>
              <input id="contentCatalog" class="form-control" type="text" placeholder="Content catalog" ng-model="contentCatalog"/>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="contentCV">Version</label>
              <select id="contentCV" class="form-control" ng-model="contentCV">
                <option value="Staged">Staged</option>
                <option value="Online">Online</option>
              </select>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div ng-nestable ng-model="menuModel">
            <div class="dd-content">
              {{$item.text}} || URL: {{$item.url}}
              <div class="pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-link btn-edit" ng-click="editItem($item)"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-link btn-remove" ng-click="itemRemove($item)"><i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="btn-group pull-right" role="group" >
            <button class="btn btn-primary" ng-click="open()"><i class="fa fa-plus "></i> Add new Item</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <a href="https://wiki.hybris.com/display/~yannick.robin@hybris.com/Navigation" target="_blank" class="btn btn-link pull-right">Wiki</a>
      <h4>Preview:</h4>
      <ul class="list-inline list-unstyled">
        <li ng-repeat="menuItem in menuItems">
          <a href="{{menuItem.url}}">{{menuItem.name}}</a>
        </li>
      </ul>
      <div ng-show="newItem && !navEditing">New node from a modal: {{ newItem || JSON }}</div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <div ng-if="impex" class="impex-row">
            <pre nag-prism source="{{code}}" class="language-impex copy-code line-numbers"></pre>
          </div>
      </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>

<script type="text/ng-template" id="myNewModalContent.html">
  <div class="modal-header">
    <h3 ng-show="navEdit" class="modal-title">Edit {{newItem.text}}</h3>
    <h3 ng-hide="navEdit" class="modal-title">New Item</h3>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="newItem.text">
      </div>
      <div class="form-group">
        <label for="url">Link</label>
        <input type="text" class="form-control" id="url" placeholder="Enter url" ng-model="newItem.url">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-show="navEdit" ng-click="update()">Update</button>
    <button class="btn btn-primary" ng-hide="navEdit" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="myRemoveModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirm Delete <strong>{{removeItem.item.text}}</strong></h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <strong>{{removeItem.item.text}} </strong> ?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="remove()">Remove</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
