<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Created Package:</h1>
    </div>

  </div>
  <div class="row">
      <div class="col-xs-12">
          <code>DEBUG:</code>
        <pre>
          <code>{{params | json}}</code>
        </pre>
      </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
