<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Create Package:</h1>
    </div>
  </div>
  <div class="row">
    <form role="form" class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="title">
            Storefront type
          </h3>
          <label class="radio-inline">
            <input type="radio" ng-model="model.type" value="b2b">
            B2B
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="model.type" value="b2c">
            B2C
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="model.type" value="responsive">
            Responsive
          </label>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12">
            <h3 class="title">
              Impexes
            </h3>
            <label class="checkbox-inline" for="{{impex._id}}" ng-repeat="impex in impexList">
              <input id="{{impex._id}}" type="checkbox" ng-model="model.impexes[impex._id]">
              {{impex.name}}
            </label>
          </div>
      </div>
      <div class="row" ng-if="variables.length > 0">
        <div class="col-xs-12">
          <h3 class="title">
            Variables
          </h3>
        </div>
        <div class="col-xs-12" ng-repeat="var in variables">
          <div class="form-group">
            <label for="{{var._id}}">{{var.name}}</label>
            <input id="{{var._id}}" type="text" class="form-control" placeholder="Insert data for {{var.variable}}" ng-model="model.variables[var.variable]">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" ng-click="generatePackage()"><i class="fa fa-sitemap fa-rotate-180"></i> Generate</button>
    </form>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <code>DEBUG:</code>
        <pre>
          <code>{{model | json}}</code>
        </pre>
        <pre>
          <code>IMPEXES ID:{{impexes}}</code>
          <code>{{variables}}</code>
        </pre>
      </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
